body {
    background-color: #394b59;
}
.app-root {
    width: 80%;
    margin: 0 auto;
}

.large-dialog {
    width: 70%;
}

.scroll-dialog {
    height: 90vh;
}

.scroll-dialog .bp3-dialog-body {
    overflow-y: scroll;
}

.large-dialog table {
    width: 100%;
}

.large-dialog table th.header-5 {
    width: 5%;
}

.large-dialog table th.header-right {
    text-align: right;
}

.large-dialog table td.cell-right {
    text-align: right;
}
